  <form [formGroup]="userForm" (ngSubmit)="deleteUser()" novalidate>
    <div class="field">
      <label class="block">First Name</label>
      <input type="text" pInputText placeholder="First Name" formControlName="firstName" />
      <small class="p-error block" *ngIf="
          userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty
        ">
        First name is required</small>
    </div>
    <div class="field">
      <label class="block">Last Name</label>
      <input type="text" pInputText placeholder="Last Name" formControlName="lastName" />
      <small class="p-error block" *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.dirty
        ">
        Last name is required</small>
    </div>

    <button pButton type="submit" label="Submit" [disabled]="userForm.invalid"></button>
  </form>

  <div *ngIf="deleteFlag">
    Name Deleted: {{userForm.get('firstName')?.value}} {{userForm.get('lastName')?.value}}
  </div>
