<h3>Product</h3>
<app-product-table-filters [products]="products" (filteredProducts)="filteredProducts($event)"></app-product-table-filters>
<app-product-table (viewRowItem)="viewRowItem($event)"
                   (deleteRowItem)="deleteItem($event)"
                   (editRowItem)="editItem($event)"
                   [products]="products"
></app-product-table>


<div class="unit-test" *ngIf="(itemPassed || itemDeleted) && item">
  <p-dialog header="Selected Item from Child:" [(visible)]="itemPassed && item" [style]="{width: '50vw'}">
    <p>
     <b>Code:</b> {{item.code}}
    </p>
    <p>
      <b>Name:</b> {{item.name}}
    </p>
  </p-dialog>

  <p-dialog header="Deleted Item from Child:" [(visible)]="itemDeleted && item" [style]="{width: '50vw'}">
    <p>
      <b>Code:</b> {{item.code}}
    </p>
    <p>
      <b>Name:</b> {{item.name}}
    </p>
  </p-dialog>
</div>
